<link rel="import" href="mobile-university-api.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">

<polymer-element name="login-form">
    <template>
        <style>
        :host {
            display: block;
        }
        paper-button.primary {
            color: #3f51b5;
            fill: #3f51b5;
        }
        </style>

        <mobile-university-api id="api"></mobile-university-api>

        <paper-input floatingLabel label="E-mail" value="{{email}}" validate="^.+@.+\..+$" error="E-mail введен неверно"></paper-input>
        <paper-input floatingLabel label="Пароль" type="password" value="{{password}}"></paper-input>

        <br>
        <paper-button class="primary" label="Войти" on-tap="{{doLogin}}"></paper-button>
        <paper-button label="Забыли пароль?" style="margin-left: 10px;"></paper-button>

        <paper-toast id="errorAuth" role="alert" text="Не удалось выполнить вход">
        </paper-toast>
    </template>

    <script>
    Polymer('login-form', {
        ready: function() {
            if (this.$.api.isUserLogged()) {
                window.location = "/timetable/createTimetable";
            }
        },
        doLogin: function() {
            var self = this;
            this.$.api.login(this.email, this.password, {
                success: function(auth) {
                    window.location = "/timetable/createTimetable"
                },
                fail: function(msg) {
                    console.log("LOGIN FAILED. " + msg);
                    self.$.errorAuth.show();
                }
            })
        }
    });
    </script>
</polymer-element>
