<script src="../js/jsencrypt.min.js" type="text/javascript"></script>
<script src="../js/sha512.js"></script>
<polymer-element name="mobile-university-api" attributes="timetable profile">
    <template>
        <style>
        :host {
            display: none;
        }
        </style>
    </template>
    <script>
    function setCookie(name, value, options) {
      options = options || {};
     
      var expires = options.expires;
     
      if (typeof expires == "number" && expires) {
        var d = new Date();
        d.setTime(d.getTime() + expires*1000);
        expires = options.expires = d;
      }
      if (expires && expires.toUTCString) {
        options.expires = expires.toUTCString();
      }
     
      value = encodeURIComponent(value);
     
      var updatedCookie = name + "=" + value;
     
      for(var propName in options) {
        updatedCookie += "; " + propName;
        var propValue = options[propName];   
        if (propValue !== true) {
          updatedCookie += "=" + propValue;
         }
      }
     
      document.cookie = updatedCookie;
    }

    function makeApiRequest(options) {
        options = $.extend({}, options);
        var params = options.params;

        if (params === undefined) {
            params = {};
        }

        var uid = localStorage.getItem("uid");
        var token = localStorage.getItem("token");
        //for( var key in options.params ) {
        //    options.params[key] = options.params[key].toLowerCase();
        //}

        // options.params = naturalSort(options.params);
        // TODO: calculate signature
        var query = uid+token;

        for( var key in options.params ) {
            query += options.params[key].toLowerCase();
        }
        
        params.uid = uid;
        params.hash = CryptoJS.SHA512(query) + "";

        $.ajax({
            url: "/api/v1/" + options.apiMethod,
            type: options.type,
            success: options.success,
            data: params,
            error: options.fail
        });
    }

    Polymer('mobile-university-api', {
        ready: function() {
			this.fire('api-ready');
        },
        created: function() {
            this.timetable = {};
            this.readOnly = true;
        },
        isReadOnly: function() {
            return this.readOnly;
        },
        isUserLogged: function() {
            return !(localStorage.getItem("uid") === null && localStorage.getItem("token") === null);
        },
        getUserId: function() {
            return localStorage.getItem("uid");
        },
        login: function(email, password, callback) {
            $.ajax({
                url: "/api/v1/getPublicKey",
                type: "GET",
                success: function(response) {

                    var credentials = JSON.stringify({
                        email: email,
                        pass: password
                    });

                    var encrypt = new JSEncrypt();
                    encrypt.setPublicKey($.parseJSON(response).key);
                    credentials = encrypt.encrypt(credentials);
                    credentials = encodeURIComponent(credentials);

                    $.ajax({
                        url: "/api/v1/auth",
                        type: "POST",
                        data: "data=" + credentials,
                        success: function(msg) {
                            console.log(msg);
                            var responseObject = $.parseJSON(msg);
                            if (responseObject.status === "ok") {
                                localStorage.setItem("uid", responseObject.uid);
                                setCookie("uid", responseObject.uid, {"path" : "/"});
                                localStorage.setItem("token", responseObject.token);
                                setCookie("token", responseObject.token, {"path" : "/"});
                                
                                callback.success(msg);
                            } else {
                                callback.fail("Auth error");
                            }

                        },
                        fail: function(msg) {
                            callback.fail("Login loading error");
                        }
                    });

                },
                fail: function() {
                    callback.fail("Public key loading error");

                }
            });
        },
        exit: function(callback) {
        	localStorage.removeItem("uid");
        	localStorage.removeItem("token");
        	callback.success();
        },
        getProfile: function(callback) {
            var self = this;
        	makeApiRequest({
        		apiMethod: "getProfile",
        		type: "POST",
        		success: function(msg) {
        			var responseObject = $.parseJSON(msg);
        			if (responseObject.hasOwnProperty("status") && responseObject.status !== "ok") {
			            callback.fail(responseObject.status);
                    } else {
                    	var profile = responseObject.profile;
                        this.profile = profile;

                        if(profile.hasOwnProperty("headman") && profile.headman === true) {
                            self.readOnly = false;
                        }

                    	callback.success(profile);
                   	}
        		},
        		fail: function(msg) {
        			callback.fail("Loading error");
        		}
        	})
        },
        loadTimetable: function(callback) {
            makeApiRequest({
                apiMethod: "getTimetable",
                type: "POST",
                success: function(msg) {
                    console.log(msg);
                    var responseObject = $.parseJSON(msg);

                    if (responseObject.hasOwnProperty("status") && responseObject.status === "no timetable") {
                        // Return empty timetable
                    	var timetable = {
			                "date_start": 1404158400,
			                "date_end": 1417377600,
			                "subjects": []
			            };
			            callback.success(timetable);
                    } else {
                    	var timetable = responseObject.timetable;
	                    for (i = 0; i < timetable.subjects.length; ++i) {
	                         timetable.subjects[i].id = guid();
	                    }
	                    callback.success(timetable);
                    }
                },
                fail: function(msg) {
                    callback.fail("Loading error");
                }
            });
        },
        uploadTimetable: function(timetable, callback) {
            timetable = JSON.stringify(timetable);
            console.log(timetable);
            makeApiRequest({
                apiMethod: "setTimetable",
                type: "POST",
                params: {
                    timetable: timetable
                },
                success: function(msg) {
                    console.log(msg);
                    var responseObject = $.parseJSON(msg);
                    if (responseObject.status === "ok") {
                        callback.success(msg);
                    } else {
                        callback.fail(msg);
                    }
                },
                fail : function(msg) {
                    console.log(msg);
                    callback.fail(msg);
                }
            })
        },
        getClassmateList: function(callback) {
            makeApiRequest({
                apiMethod: "getClassmateList",
                type: "POST",
                success: function(msg) {
                    var responseObject = $.parseJSON(msg);
                    if (responseObject.hasOwnProperty("status") && responseObject.status === "ok") {
                        callback.success(responseObject.classmateList);
                    } else {
                        callback.fail("API request failed");
                    }
                },
                fail: function(msg) {
                    callback.fail("Loading error");
                }
            });
        },
        transferHeadmanRights: function(emailTo, callback) {
            makeApiRequest({
                apiMethod: "transferHeadmanRights",
                type: "POST",
                params: {
                    emailTo: emailTo
                },
                success: function(msg) {
                    console.log(msg);
                    var responseObject = $.parseJSON(msg);
                    if (responseObject.status === "ok") {
                        callback.success(msg);
                    } else {
                        callback.fail(msg);
                    }
                },
                fail: function(msg) {
                    console.log(msg);
                    callback.fail(msg);
                }
            })
        },
    });
    </script>
</polymer-element>
