<link rel="import" href="transfer-headman-rights-form.html">

<polymer-element name="profile-view" attributes="profile">
    <template>
        <style>
        :host {
            display: block;
        }
        paper-fab {
            position: absolute;
            right: 24px;
            top: 24px;
            background: white;
        }
        .title {
            font-weight: bold;
        }
        </style>

        <!--<paper-fab icon="create" on-tap="{{editProfile}}"></paper-fab>-->

        <h2>{{profile.firstName}} {{profile.secondName}}</h2>

        <p>
            <span class="title">E-mail:</span>{{profile.email}}
        </p>

        <p>
            <span class="title">Группа:</span>{{profile.faculty}}{{profile.department}}-{{profile.semester}}{{profile.group}}
        </p>

        <br>

        <template if="{{profile.headman}}" id="transferFragment">
            <transfer-headman-rights-form></transfer-headman-rights-form>
        </template>

        <mobile-university-api id="api"></mobile-university-api>

    </template>

    <script>
    Polymer('profile-view', {
        ready: function() {
            
        }
    });
    </script>
</polymer-element>
