<link rel="import" href="mobile-university-api.html">

<polymer-element name="register-form">
    <template>
        <style>
        :host {
            display: block;
        }
        paper-button.primary {
            color: #3f51b5;
            fill: #3f51b5;
        }

        td {
            padding-bottom: 20px;
        }
        </style>

        <mobile-university-api id="api"></mobile-university-api>

        <form id="registerForm" method="POST" action="/auth/register">
            <table>
                <tr>
                    <td>Email</td>
                    <td>
                        <input type="text" name="email">
                    </td>
                </tr>

                <tr>
                    <td>Имя</td>
                    <td>
                        <input type="text" name="firstName">
                    </td>
                </tr>

                <tr>
                    <td>Фамилия</td>
                    <td>
                        <input type="text" name="secondName">
                    </td>
                </tr>

                <tr>
                    <td>Пол</td>
                    <td>
                        Мужской
                        <input type="radio" name="gender" value="male" checked>
                        <br>Женский
                        <input type="radio" name="gender" value="female">
                    </td>
                </tr>

                <tr>
                    <td>Факультет</td>
                    <td>
                        <select name="faculty">
                            <option value="АК">АК</option>
                            <option value="БМТ">БМТ</option>
                            <option value="ИБМ">ИБМ</option>
                            <option value="ИУ">ИУ</option>
                            <option value="МТ">МТ</option>
                            <option value="ОЭ">ОЭ</option>
                            <option value="ПС">ПС</option>
                            <option value="РК">РК</option>
                            <option value="РКТ">РКТ</option>
                            <option value="РЛ">РЛ</option>
                            <option value="РТ">РТ</option>
                            <option value="СМ">СМ</option>
                            <option value="УЦ">УЦ</option>
                            <option value="ФН">ФН</option>
                            <option value="Э">Э</option>
                            <option value="ЮР">ЮР</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Кафедра</td>
                    <td>
                        <select name="department">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Семестр</td>
                    <td>
                        <select name="semester">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Группа</td>
                    <td>
                        <select name="group">
                            <option name="1">1</option>
                            <option name="2">2</option>
                            <option name="3">3</option>
                            <option name="4">4</option>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td>Являюсь старостой</td>
                    <td>
                        <input type="checkbox" name="headman">
                    </td>
                </tr>

                <tr>
                    <td>Пароль</td>
                    <td>
                        <input type="password" name="pass">
                    </td>
                </tr>

            </table>

            <input type="submit" value="Зарегистироваться">
        </form>


        <br>
    </template>

    <script>
    Polymer('register-form', {
        ready: function() {}
    });
    </script>
</polymer-element>
