<polymer-element name="timetable-weekday" attributes="subjects weekday parity readOnly">
    <template>
        <style>
        :host {
            display: block;
        }
        </style>

        <template repeat="{{s in weekDaySubjects}}">
            <timetable-subject-card subject="{{s}}" on-remove-subject="{{removeSubject}}" readOnly="{{readOnly}}" on-tap="{{tapSubject}}"></timetable-subject-card>
        </template>
    </template>

    <script>
    function timeToMinutes(time) {
        var hours = time.split(":")[0];
        var minutes = time.split(":")[1];
        return hours * 60 + minutes;
    }

    Polymer('timetable-weekday', {
        ready: function() {
            this.weekDaySubjects = [];
        },

        subjectsChanged: function() {
            var filteredSubjects = [];
            for (i = 0; i < this.subjects.length; ++i) {
                if (this.subjects[i].subject_weekday === this.weekday) {
                    filteredSubjects.push(this.subjects[i]);
                }
            }
            filteredSubjects.sort(function(a, b) {
                if (parseInt(a.subject_number) < parseInt(b.subject_number))
                    return -1;
                if (parseInt(a.subject_number) > parseInt(b.subject_number))
                    return 1;
                return 0;
            });
            this.weekDaySubjects = filteredSubjects;
        },

        removeSubject: function(event, detail, sender) {
            this.fire('remove-subject', {
                id: sender.templateInstance.model.s.id
            });
        },

        tapSubject: function(event, detail, sender) {
            this.fire('tap-subject', {
                id: sender.templateInstance.model.s.id
            });
        }
    });
    </script>
</polymer-element>
