<polymer-element name="timetable-subject-card" attributes="subject readOnly">
    <template>
        <style>
        :host {
            display: block;
            color: white;
            padding-left: 1.33em;
            padding-right: 3.66em;
            padding-top: 1px;
            padding-bottom: 1px;
            position: relative;
            margin-bottom: 5px;
            font-size: 0.9em;
        }
        h2 {
            word-wrap: break-word;
            font-weight: 300;
            font-size: 1.4em;
        }
        .remove-button {
            position: absolute;
            top: 8px;
            right: 8px;
        }
        @media (min-width: 860px) and (max-width: 1630px) {
            :host {
                font-size: 0.69em;
            }
        }
        </style>
        <paper-ripple fit></paper-ripple>

        <template if="{{!readOnly}}">
            <paper-icon-button class="remove-button" icon="close" on-tap="{{removeSubject}}"></paper-icon-button>
        </template>
        <h2>{{subject.subject_name}}</h2>
        <p>{{subjectTypes[subject.subject_type]}}</p>
        <p class="subject-time" >{{subject.subject_number | displayStartTime}} - {{subject.subject_number | displayEndTime}} {{parityTexts[subject.subject_parity]}}</p>
    </template>

    <script>
    Polymer('timetable-subject-card', {
        ready: function() {
            this.parityTexts = ["", "(ЧС)", "(ЗН)"];
            this.subjectTypes = SUBJECT_TYPES;
        },
        subjectChanged: function() {
            var subjectColor = getAccentColorByString(this.subject.subject_name);
            this.style.background = subjectColor;
        },
        removeSubject: function() {
            this.fire('remove-subject');
        },
        displayStartTime: function(number) {
            return SUBJECT_DEFAULT_TIMES[number - 1].time_start;
        },
        displayEndTime: function(number) {
            return SUBJECT_DEFAULT_TIMES[number - 1].time_end;
        }
    });
    </script>
</polymer-element>
