<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/core-collapse/core-collapse.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="paper-dialog-transition.html">

<polymer-element name="timetable-subject-dialog" extends="paper-dialog" transition="paper-dialog-transition-bottom" attributes="subject" backdrop>
    <template>
        <style>
        :host {
            background: white;
            color: rgba(0, 0, 0, 0.87);
            width: 640px;
        }
        :host > h2 {
            font-weight: bold;
            font-size: 1.1em;
        }
        #shadow {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
        #container {
            overflow: hidden;
        }
        #main {
            height: auto;
            -webkit-order: 1;
            -ms-flex-order: 1;
            order: 1;
            padding: 24px;
            overflow: auto;
        }
        h1 {
            margin: 0;
        }
        #actions {
            -webkit-order: 2;
            -ms-flex-order: 2;
            order: 2;
            padding: 4px 16px 20px;
        }
        polymer-next-selector {
            content: ':host > *';
        }
        ::content > * {
            font: inherit;
            border: 0;
        }
        paper-button[autofocus] {
            color: #4285f4;
        }
        .time-input {
            display: inline-block;
            width: 150px;
        }
        .right-button {
            position: relative;
            left: 6px;
            top: -16px;
        }
        </style>

        <div id="shadow">
            <paper-shadow z="3" hasPosition></paper-shadow>
        </div>

        <div id="container" layout vertical>

            <div id="actions" layout horizontal>
                <div flex auto></div>
                <paper-button label="Отмена" on-tap="{{cancelDialog}}" affirmative></paper-button>
                <paper-button label="ОК" on-tap="{{saveSubject}}" affirmative autofocus></paper-button>
            </div>

            <div id="main" flex auto>
                <h1>{{heading}}</h1>

                <br>
                <paper-input floatingLabel label="Название предмета" value="{{subject.subject_name}}"></paper-input>

                <h2>Номер предмета</h2>

                <paper-radio-group selected="{{subject.subject_number | subjectNumberFilter}}">
                    <paper-radio-button label="1"></paper-radio-button>
                    <paper-radio-button label="2"></paper-radio-button>
                    <paper-radio-button label="3"></paper-radio-button>
                    <paper-radio-button label="4"></paper-radio-button>
                    <paper-radio-button label="5"></paper-radio-button>
                    <paper-radio-button label="6"></paper-radio-button>
                    <paper-radio-button label="7"></paper-radio-button>
                </paper-radio-group>

                <br>
                <br>

                <paper-checkbox id="subjectBreakCheckbox" label="Есть пятиминутный перерыв во время пары" checked="subject.subject_break"></paper-checkbox>
                <br>
                <br>

                <h2>Тип предмета</h2>

                <paper-radio-group selected="{{subject.subject_type}}">
                    <paper-radio-button label="Семинар"></paper-radio-button>
                    <paper-radio-button label="Лабораторная"></paper-radio-button>
                    <paper-radio-button label="Лекция"></paper-radio-button>
                    <paper-radio-button label="Практическое занятие"></paper-radio-button>
                    <paper-radio-button label="Консультация"></paper-radio-button>
                </paper-radio-group>


                <h2>День недели</h2>

                <paper-radio-group selected="{{subject.subject_weekday}}">
                    <paper-radio-button label="ПН"></paper-radio-button>
                    <paper-radio-button label="ВТ"></paper-radio-button>
                    <paper-radio-button label="СР"></paper-radio-button>
                    <paper-radio-button label="ЧТ"></paper-radio-button>
                    <paper-radio-button label="ПТ"></paper-radio-button>
                    <paper-radio-button label="СБ"></paper-radio-button>
                    <!-- <paper-radio-button label="ВС"></paper-radio-button> -->
                </paper-radio-group>

                <h2>Периодичность</h2>

                <paper-radio-group selected="{{subject.subject_parity}}">
                    <paper-radio-button label="Всегда"></paper-radio-button>
                    <paper-radio-button label="Только по числителю"></paper-radio-button>
                    <paper-radio-button label="Только по знаменателю"></paper-radio-button>
                </paper-radio-group>

                <h2>Аудитории и преподаватели</h2>

                <paper-checkbox id="hasSubGroups" label="Есть разделение по группам" on-change="{{subGroupCheckbox}}"></paper-checkbox>
                <br>
                <br>
                <core-collapse id="oneGroup" opened>
                    <paper-input floatingLabel label="Номер аудитории" value="{{auditory_name}}"></paper-input>
                    <br>
                    <paper-input floatingLabel label="ФИО преподавателя" value="{{teacher_name}}"></paper-input>
                </core-collapse>
                <core-collapse id="manyGroup">
                    <template repeat="{{group, index in groups}}">
                        <div style="width: 65%" horizontal layout>
                            <div flex>
                                <paper-input floatingLabel label="Название группы" value="{{group.group_name}}"></paper-input>
                                <br>
                                <paper-input floatingLabel label="Номер аудитории" value="{{group.auditory_name}}"></paper-input>
                                <br>
                                <paper-input floatingLabel label="ФИО преподавателя" value="{{group.teacher_name}}"></paper-input>
                                <br>
                                <br>
                            </div>
                            <div>
                                <paper-icon-button class="remove-button" icon="close" on-tap="{{removeGroup}}"></paper-icon-button>
                            </div>
                        </div>
                    </template>
                    <paper-button label="Новая группа" on-tap="{{createNewGroup}}"></paper-button>
                </core-collapse>
            </div>

        </div>

    </template>

    <script>
    function validateSubject(subject) {
        // is empty name
        if (!subject.subject_name || 0 === subject.subject_name.length) {
            return "Заполните название предмета";
        }

        // is valid subject type
        if (!(("subject_type" in subject) && subject.subject_type >= 0 && subject.subject_type <= 10)) {
            return "Выберите тип предмета";
        }

        // is valid subject number
        if (!(("subject_number" in subject) && (subject.subject_number >= 1 && subject.subject_number <= 7))) {
            return "Выберите номер пары";
        }

        // is valid subject break
        if (!("subject_break" in subject)) {
            return "Выберите перерыв во время пары"
        }

        // is valid subject weekday
        if (!(("subject_weekday" in subject) && (subject.subject_weekday >= 0 && subject.subject_weekday <= 6))) {
            return "Выберите день недели"
        }

        if (!("subject_groups" in subject) || subject.subject_groups.length === 0) {
            return "Добавьте хотя бы одну группу"
        } else {
            if (subject.subject_groups.length === 1) {
                if (subject.subject_groups[0].auditory_name === "") {
                    return "Заполните номер аудитории или иное место проведения предмета";
                }

                if (subject.subject_groups[0].teacher_name === "") {
                    return "Заполните ФИО преподавателя";
                }
            } else {
                for (var i = 0; i < subject.subject_groups.length; ++i) {
                    if (subject.subject_groups[i].group_name === "") {
                        return "Заполните название группы во всех группах";
                    }

                    if (subject.subject_groups[i].auditory_name === "") {
                        return "Заполните место проведения (аудиторию) предмета во всех группах";
                    }

                    if (subject.subject_groups[i].teacher_name === "") {
                        return "Заполните ФИО преподавателя во всех группах";
                    }

                }
            }
        }

        return "";
    }

    Polymer('timetable-subject-dialog', {
        resetForm: function() {
            this.$.subjectBreakCheckbox.checked = true;
            this.groups = [{
                group_name: "",
                auditory_name: "",
                subject_name: ""
            }];
            delete this.teacher_name;
            delete this.group_name;
        },
        ready: function() {
            this.resetForm();
        },
        toggle: function() {
            this.super();

            if (this.subject !== null) {
                this.resetForm();

                if (this.subject.subject_groups.length === 1) {
                    this.auditory_name = this.subject.subject_groups[0].auditory_name;
                    this.teacher_name = this.subject.subject_groups[0].teacher_name;
                    this.$.hasSubGroups.checked = false;
                } else {
                    this.groups = this.subject.subject_groups;
                    this.$.hasSubGroups.checked = true;
                }
            }
        },
        saveSubject: function() {
            var subjectObject = $.extend({}, this.subject);

            // prepare object
            if (this.$.hasSubGroups.checked) {
                subjectObject.subject_groups = this.groups;
            } else {
                subjectObject.subject_groups = [{
                    teacher_name: this.teacher_name,
                    auditory_name: this.auditory_name
                }];
                delete subjectObject.teacher_name;
                delete subjectObject.auditory_name;
            }

            // validate
            var validationError = validateSubject(subjectObject);

            if (validationError.length > 0) {
                // Show error
                alert(validationError);

            } else {
                // All OK
                console.log(subjectObject);
                this.fire("subject-edited", {
                    subject: subjectObject
                });
                this.toggle();
                this.subject = null;
            }

        },
        cancelDialog: function() {
            this.subject = null;
            this.toggle();
        },
        subGroupCheckbox: function() {
            if (this.$.hasSubGroups.checked) {
                if (this.$.oneGroup.opened) {
                    this.$.oneGroup.toggle();
                }
                if (!this.$.manyGroup.opened) {
                    this.$.manyGroup.toggle();
                }
            } else {
                if (!this.$.oneGroup.opened) {
                    this.$.oneGroup.toggle();
                }
                if (this.$.manyGroup.opened) {
                    this.$.manyGroup.toggle();
                }
            }
        },
        createNewGroup: function() {
            this.groups.push({
                group_name: "",
                auditory_name: "",
                subject_name: ""
            });
        },
        removeGroup: function(event, detail, sender) {
            this.groups.splice(sender.templateInstance.model.index, 1);
        },
        subjectNumberFilter: {
            toDOM: function(value) {
                return value - 1;
            },
            toModel: function(value) {
                return value + 1;
            }
        }
    });
    </script>
</polymer-element>
