<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="mobile-university-api.html">
<link rel="import" href="timetable-subject-card.html">
<link rel="import" href="timetable-weekday.html">
<link rel="import" href="timetable-subject-dialog.html">

<polymer-element name="timetable-element" attributes="readOnly">
    <template>
        <style>
        :host {
            display: block;
            background-color: #eee;
            padding: 48px;
        }
        h1 {
            margin-top: 0;
            padding-top: 0;
        }
        .timetable-table {
            width: 100%;
            table-layout: fixed;
        }
        .timetable-card-columns > td {
            vertical-align: top;
        }
        paper-fab {
            position: absolute;
            right: 24px;
            top: 24px;
            background: white;
        }
        .weekdayTitle {
            height: 1.1em;
            padding: 15px;
        }
        .week {
            display: block;
            padding-left: 1px;
            padding-right: 1px;
        }
        @media (min-width: 860px) {
            .week {
                display: table-cell;
            }
        }
        #saveButton {}
        </style>

        <table>
            <timetable-subject-dialog id="subjectEditor" heading="Изменение предмета" on-subject-edited="{{subjectEdited}}"></timetable-subject-dialog>

            <div class="editorControl">
                <paper-fab icon="add" on-tap="{{addNewSubject}}"></paper-fab>
            </div>

            <h1>Расписание группы {{timetable.group}}</h1>

            <div class="editorControl">
                <p style="max-width: 960px;">Здесь вы можете просмотреть и отредактировать расписание для своей группы. Для добавления нового предмета, нажмите на кнопку "+" в правом верхнем углу. После заполнения расписания, сохраните его нажав на соответствующую кнопку.</p>

                <paper-button id="saveButton" on-tap="{{saveTimetable}}" raisedButton label="Сохранить"></paper-button>
                <br>
                <br>

                <paper-input id="dateStart" style="width: 190px;" floatingLabel label="Начало действия" validate="^[0-3][0-9].[0-1][0-9].[0-9]{4}$" error="Формат даты: ДД.ММ.ГГГГ" value="{{timetable.date_start | displayDate}}"></paper-input>
                <paper-input id="dateEnd" style="width: 190px; margin-left: 15px;" floatingLabel label="Конец действия" validate="^[0-3][0-9].[0-1][0-9].[0-9]{4}$" error="Формат даты: ДД.ММ.ГГГГ" value="{{timetable.date_end | displayDate}}"></paper-input>
            </div>

            <mobile-university-api id="timetableAPI"></mobile-university-api>

            <table class="timetable-table">
                <tr class="timetable-card-columns">
                    <template repeat="{{weekday in weekdays}}">
                        <div class="week">
                            <div class="weekdayTitle">{{weekdaysText[weekday]}}</div>
                            <timetable-weekday subjects="{{timetable.subjects}}" weekday="{{weekday}}" on-remove-subject="{{removeSubject}}" readOnly="{{readOnly}}" on-tap-subject="{{tapSubject}}"></timetable-weekday>
                        </div>
                    </template>

                </tr>
            </table>
        </table>

        <paper-toast id="removeToast" role="alert" text="Предмет удален">
            <div on-click="{{restoreLast}}">Отмена</div>
        </paper-toast>

        <paper-toast id="savedToast" role="alert" text="Расписание успешно сохранено">
        </paper-toast>

        <paper-toast id="errorToast" role="alert" text="Ошибка! Что-то пошло не так :(">
        </paper-toast>

        <paper-toast id="noTimetableToast" role="alert" text="Расписание пока не заполнено">
        </paper-toast>

        <paper-shadow z="1"></paper-shadow>
    </template>
    <script>
    Polymer('timetable-element', {
        ready: function() {
            // Add "6" at the end to enable sunday
            this.weekdays = [0, 1, 2, 3, 4, 5];
            this.lastRemovedSubject = null;
            this.weekdaysText = ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота", "Воскресенье"];
            this.timetable = {
                "date_start": 1404158400,
                "date_end": 1417377600,
                "subjects": []
            }
            this.readOnly = true;

            if (this.$.timetableAPI.isUserLogged()) {
                var self = this;
                this.$.timetableAPI.loadTimetable({
                    success: function(responseObject) {
                        self.timetable = responseObject;
                        if (self.timetable.subjects.length === 0) {
                            self.$.noTimetableToast.show();
                        }
                    },
                    fail: function(msg) {
                        console.log("Timetable loading error: " + msg);
                    }
                });
            }
        },
        removeSubject: function(event, detail, sender) {
            for (i = 0; i < this.timetable.subjects.length; ++i) {
                if (this.timetable.subjects[i].id === detail.id) {
                    this.lastRemovedSubject = this.timetable.subjects.splice(i, 1)[0];
                    break;
                }
            }
            this.$.removeToast.show();
        },
        setReadOnly: function(readOnly) {
            this.readOnly = readOnly;
            if (readOnly) {
                var elements = this.shadowRoot.querySelectorAll(".editorControl");
                for (var i = 0; i < elements.length; ++i) {
                    elements[i].style.display = "none";
                }
            } else {
                var elements = this.shadowRoot.querySelectorAll(".editorControl");
                for (var i = 0; i < elements.length; ++i) {
                    elements[i].style.display = "block";
                }
            }
        },
        restoreLast: function() {
            if (!(this.lastRemovedSubject === null)) {
                this.timetable.subjects.push(this.lastRemovedSubject);
                this.$.removeToast.dismiss();
                this.lastRemovedSubject = null;
            }
        },
        filtered: function() {
            return this.timetable.subjects;
        },
        addNewSubject: function() {
            var dialog = this.$.subjectEditor;
            dialog.subject = {
                "id": guid(),
                "subject_name": "",
                "subject_type": 0,
                "subject_number": 1,
                "subject_break": true,
                "subject_weekday": 0,
                "subject_parity": 0,
                "subject_groups": [{
                    "teacher_name": "",
                    "auditory_name": ""
                }]
            };
            dialog.toggle();
        },
        tapSubject: function(event, detail, sender) {
            if (!this.readOnly) {
                var subject = null;
                for (i = 0; i < this.timetable.subjects.length; ++i) {
                    if (this.timetable.subjects[i].id === detail.id) {
                        subject = this.timetable.subjects[i];
                        break;
                    }
                }
                if (subject != null && subject != "undefined") {
                    var dialog = this.$.subjectEditor;

                    // make copy of subject to prevent model modification
                    dialog.subject = jQuery.extend({}, subject);
                    dialog.toggle();
                } else {
                    console.error("Subject is " + subject);
                }
            }

        },
        subjectEdited: function(event, detail, sender) {
            for (i = 0; i < this.timetable.subjects.length; ++i) {
                if (this.timetable.subjects[i].id === detail.subject.id) {
                    this.timetable.subjects[i] = detail.subject;
                    return;
                }
            }
            detail.subject.id = guid();
            this.timetable.subjects.push(detail.subject);
        },
        displayDate: {
            toDOM: function(value) {
                var ds = new Date(parseInt(value) * 1000);

                return zeroPad(ds.getDate(), 2) + "." + zeroPad(ds.getMonth() + 1, 2) + "." + zeroPad(ds.getFullYear(), 4);
            },
            toModel: function(value) {
                var dateParts = value.split(".");
                var date = new Date(dateParts[2], (dateParts[1] - 1), dateParts[0]);
                console.log(date.getTime());
                return date.getTime() / 1000;
            }
        },
        saveTimetable: function() {
            var requestObject = this.timetable;
            this.$.saveButton.disabled = true;
            this.$.saveButton.label = "Сохранение...";

            var self = this;
            this.$.timetableAPI.uploadTimetable(requestObject, {
                success: function(response) {
                    self.$.saveButton.disabled = false;
                    self.$.saveButton.label = "Сохранить";
                    self.$.savedToast.show();
                },
                fail: function(response) {
                    self.$.saveButton.disabled = false;
                    self.$.saveButton.label = "Сохранить";
                    console.log("saving failed!");
                    self.$.errorToast.show();
                }
            });
        }
    });
    </script>
</polymer-element>
