<meta http-equiv="cache-control" content="max-age=0">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="expires" content="Tue, 01 Jan 1970 1:00:00 GMT">
<meta http-equiv="pragma" content="no-cache">

<polymer-element name="transfer-headman-rights-form">
    <template>
        <style>
        :host {
            display: block;
        }
        paper-fab {
            position: absolute;
            right: 24px;
            top: 24px;
            background: white;
        }
        .title {
            font-weight: bold;
        }
        </style>

        <h2>Передача прав старосты</h2>

        <p>
            <span class="title">Выберите одногруппника:</span>
            <br>
            <br>
            <select id="classmates" style="font-size: 15pt;">
            </select>
            <br>
            <br>

            <paper-button id="transferButton" on-tap="{{transferRights}}" raisedButton label="Передать"></paper-button>
        </p>

        <mobile-university-api id="api"></mobile-university-api>

        <paper-toast id="errorToast" role="alert" text="Ошибка! Что-то пошло не так :(">
        </paper-toast>

        <paper-toast id="transferError" role="alert" text="Ошибка при передаче прав старосты">
        </paper-toast>

    </template>

    <script>
    Polymer('transfer-headman-rights-form', {
        ready: function() {
            var self = this;
            this.$.api.getClassmateList({
                success: function(classmates) {
                    var classmatesSelect = self.$.classmates;
                    console.log(classmates);
                    for (var i = 0; i < classmates.length; ++i) {
                        var classmate = classmates[i];

                        if (classmate.id != self.$.api.getUserId()) {
                            $(classmatesSelect)
                                .append($("<option></option>")
                                    .attr("value", classmate.email)
                                    .text(classmate.firstName + " " + classmate.secondName));
                        }
                    }
                },
                fail: function() {
                    this.$.errorToast.show();
                }
            });
        },
        transferRights: function() {
            var classmatesSelect = this.$.classmates;
            var transferMail = classmatesSelect.options[classmatesSelect.selectedIndex].value;
            console.log(transferMail);

            var self = this;
            this.$.api.transferHeadmanRights(transferMail, {
                success: function() {
                    self.$.api.exit({
                        success: function() {
                            window.location = "/auth";
                        }
                    });
                },
                fail: function() {
                    this.$.transferError.show();
                }
            })
        }
    });
    </script>
</polymer-element>
