/* --------------------------------------------------------------------------------------
+
+   AUTHOR: Themestreet.net
+
-------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------
+
+ BASIC STYLES
+
-------------------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* --------------------------------------------------------------------------------------
+
+ VARIABLES
+
-------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------
+
+ MIXINS
+
-------------------------------------------------------------------------------------- */
/* LINE-HIGH */
/* BOX SIZING */
/* HIDE TEXT*/
             /* SPRITES
$icon-spacing: 10px;
$icon-layout: horizontal; //vertical is default, smart(third option)
@import "icon/*.png";
@include all-icon-sprites(true);
 */
.social-sprite, .social-an, .social-apple, .social-bb, .social-fb, .social-tw {
  background: url('../images/social-s6ddb6c49e0.png') no-repeat;
}

.social-an {
  background-position: 0 -210px;
  height: 30px;
  width: 30px;
}
.social-an:hover, .social-an.an_hover, .social-an.an-hover {
  background-position: 0 -180px;
}

.social-apple {
  background-position: 0 -150px;
  height: 30px;
  width: 30px;
}
.social-apple:hover, .social-apple.apple_hover, .social-apple.apple-hover {
  background-position: 0 -120px;
}

.social-bb {
  background-position: 0 0;
  height: 30px;
  width: 30px;
}
.social-bb:hover, .social-bb.bb_hover, .social-bb.bb-hover {
  background-position: 0 -30px;
}

.social-fb {
  background-position: 0 -270px;
  height: 30px;
  width: 30px;
}
.social-fb:hover, .social-fb.fb_hover, .social-fb.fb-hover {
  background-position: 0 -240px;
}

.social-tw {
  background-position: 0 -60px;
  height: 30px;
  width: 30px;
}
.social-tw:hover, .social-tw.tw_hover, .social-tw.tw-hover {
  background-position: 0 -90px;
}

.team-sprite, .team-fb, .team-tw {
  background: url('../images/team-sa42e6d1b29.png') no-repeat;
}

.team-fb {
  background-position: 0 -114px;
  height: 38px;
  width: 38px;
}
.team-fb:hover, .team-fb.fb_hover, .team-fb.fb-hover {
  background-position: 0 -76px;
}

.team-tw {
  background-position: 0 -38px;
  height: 38px;
  width: 38px;
}
.team-tw:hover, .team-tw.tw_hover, .team-tw.tw-hover {
  background-position: 0 0;
}

body {
  color: #5f5f5f;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-width: 1170px;
  background-color: #f3f3f3;
  overflow-y: scroll;
  font-weight: 300;
}
body #preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  background: url("../images/preloader.gif") 50% 50% no-repeat white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
body #preloader.hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
}
.ie8 body #preloader.hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
  display: none;
}
body * {
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #00b4bb;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 300;
}

h1 {
  font-size: 60px;
  color: #fff;
  font-weight: 100;
  text-align: center;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

a {
  outline: none;
  /* removing outline in Mozilla */
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
  color: white;
}
a:active {
  background-color: transparent;
}
a:hover {
  color: white;
}

p {
  margin-bottom: 20px;
  clear: both;
}

img {
  vertical-align: top;
}

table {
  width: 100%;
}

strong {
  font-weight: bold;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

::-moz-selection {
  background: black;
  color: white;
  text-shadow: none;
}

::selection {
  background: black;
  color: white;
  text-shadow: none;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

button:hover,
input[type="submit"]:hover,
label {
  cursor: pointer;
}

textarea {
  margin: 0;
  /* removing margin in Mozilla */
  overflow: auto;
  /* for IE and older browsers */
}

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.center {
  text-align: center;
}

#to_the_top {
  position: fixed;
  bottom: 0;
  right: 30px;
  display: block;
  width: 72px;
  height: 65px;
  background: url('../images/to_top_sprite.png') no-repeat 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  z-index: 1000;
}
#to_the_top:hover {
  background-position: 0 -65px;
}

/* --------------------------------------------------------------------------------------
+
+ LAYOUT
+
-------------------------------------------------------------------------------------- */
.container {
  margin: 0 auto;
  width: 1170px;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* --------------------------------------------------------------------------------------
+
+ BUTTONS
+
-------------------------------------------------------------------------------------- */
.btn {
  height: 50px;
  line-height: 46px;
  text-align: center;
  padding: 0 18px;
  color: #6d6e71;
  background: white;
  border: 1px solid #cbcbcb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
}
.btn:hover {
  border-color: #00b4bb;
  color: #00b4bb;
}

/* --------------------------------------------------------------------------------------
+
+ FORMS
+
-------------------------------------------------------------------------------------- */
/* MAIN PART */
input[type="text"], input[type="tel"], input[type="email"], textarea {
  vertical-align: middle;
  border: none;
  color: #6d6e71;
  background-color: white;
  padding: 0 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  height: 49px;
  line-height: 49px;
  -webkit-appearance: none;
  display: block;
  margin: 0 auto 11px;
  border: 1px solid #cbcbcb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-style: italic;
  width: 100%;
}
input[type="text"]:hover, input[type="text"]:focus, input[type="tel"]:hover, input[type="tel"]:focus, input[type="email"]:hover, input[type="email"]:focus, textarea:hover, textarea:focus {
  border-color: #00b4bb;
  color: #00b4bb;
}

textarea {
  padding: 15px 20px;
  line-height: 1.5;
  resize: none;
  min-height: 150px;
}

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

/* --------------------------------------------------------------------------------------
+
+ HEADER
+
-------------------------------------------------------------------------------------- */
header {
  background: rgba(0, 0, 0, 0.7);
  background: url("../images/header_bgr.png") \9;
  height: 76px;
  position: fixed;
  width: 100%;
  display: block;
  z-index: 1000;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
header.black_bgr {
  background: #000;
}
header .container {
  height: 100%;
  position: relative;
}
header .logo {
  width: 26px;
  height: 76px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -13px;
  -webkit-transition: all 1.5s ease-in-out 0.7s;
  -moz-transition: all 1.5s ease-in-out 0.7s;
  -ms-transition: all 1.5s ease-in-out 0.7s;
  -o-transition: all 1.5s ease-in-out 0.7s;
  transition: all 1.5s ease-in-out 0.7s;
  background: url('../images/logo.png') no-repeat 0 50%;
}
header .logo:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
}
body.active header .logo {
  left: 30px;
  margin-left: 0;
}
header nav {
  -webkit-transition: all 1s ease-in-out 1s;
  -moz-transition: all 1s ease-in-out 1s;
  -ms-transition: all 1s ease-in-out 1s;
  -o-transition: all 1s ease-in-out 1s;
  transition: all 1s ease-in-out 1s;
  background-position: 50% 50%;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
body.active header nav {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  display: block\9;
}
header nav ul {
  font-size: 0;
  float: right;
  height: 100%;
}
header nav ul li {
  display: inline-block;
  font-size: 16px;
  height: 76px;
  line-height: 76px;
}
header nav ul li + li {
  margin-left: 55px;
}
header nav a {
  outline-color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  display: block;
}
header nav a:hover {
  color: #00b4bb;
}

/* --------------------------------------------------------------------------------------
+
+ FOOTER
+
-------------------------------------------------------------------------------------- */
footer {
  display: none;
  background-color: white;
  height: 94px;
  border-top: 1px solid #d7d7d7;
  display: block\9;
}
footer small {
  float: left;
  height: 94px;
  line-height: 94px;
  font-size: 13px;
  color: #6d6e71;
  padding-left: 23px;
  background: url('../images/logo_footer.png') no-repeat 0 50%;
}
footer .social {
  float: right;
  font-size: 0;
  padding-top: 30px;
}
footer .social li {
  font-size: 16px;
  display: inline-block;
}
footer .social li + li {
  margin-left: 10px;
}
footer .social li a {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  display: block;
}

/* --------------------------------------------------------------------------------------
+
+ Animation
+
-------------------------------------------------------------------------------------- */
@-moz-keyframes blink {
  0% {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes blink {
  0% {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
  }
}

@-o-keyframes blink {
  0% {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes blink {
  0% {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
  }
}

@-moz-keyframes blink2 {
  0% {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes blink2 {
  0% {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
  }
}

@-o-keyframes blink2 {
  0% {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes blink2 {
  0% {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
  }
}

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  50% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  80% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);

  }

  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes bounce {
  0% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  50% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  60% {
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  80% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-ms-keyframes bounce {
  0% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  20% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  50% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  80% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-15px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

/* --------------------------------------------------------------------------------------
+
+ Slider
+
-------------------------------------------------------------------------------------- */
.team_wrapper {
  position: relative;
}

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  z-index: 1;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow: visible;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
#team .owl-carousel .owl-item {
  overflow: hidden;
}
#team .owl-carousel .owl-item:hover img {
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -ms-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
#team .owl-carousel .owl-item img {
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -ms-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}
#team .owl-carousel .owl-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
  visibility: visible\9;
}
#team .owl-carousel .owl-item:hover:after, #team .owl-carousel .owl-item.active:after {
  visibility: visible;
  background: rgba(0, 0, 0, 0.75);
  background: url("../images/header_bgr.png") \9;
}
#team .owl-carousel .owl-item:hover .details, #team .owl-carousel .owl-item.active .details {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
  display: block\9;
  -webkit-transition: all 0.9s ease-out 0.5s;
  -moz-transition: all 0.9s ease-out 0.5s;
  -ms-transition: all 0.9s ease-out 0.5s;
  -o-transition: all 0.9s ease-out 0.5s;
  transition: all 0.9s ease-out 0.5s;
}
#team .owl-carousel .owl-item:hover .view, #team .owl-carousel .owl-item:hover .social, #team .owl-carousel .owl-item.active .view, #team .owl-carousel .owl-item.active .social {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  display: block\9;
}
#team .owl-carousel .owl-item img {
  width: 100%;
}
#team .owl-carousel .owl-item .view {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 6;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  background-color: transparent;
}
#team .owl-carousel .owl-item .view.deactive {
  top: -50%;
}
#team .owl-carousel .owl-item .view img {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  display: block\9;
}
#team .owl-carousel .owl-item .view img.b {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
#team .owl-carousel .owl-item .view:hover .a {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
#team .owl-carousel .owl-item .view:hover .b {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  display: block\9;
}
#team .owl-carousel .owl-item .view:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
  display: block\9;
}
#team .owl-carousel .owl-item .view:after {
  content: 'Click for more details';
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 100%;
  margin-bottom: 15px;
  font-size: 16px;
  color: #00b4bb;
  white-space: nowrap;
  text-align: center;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: 300;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
#team .owl-carousel .owl-item .details {
  position: absolute;
  z-index: 5;
  color: #00b4bb;
  left: 0;
  font-size: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
  line-height: 1.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
  top: 63%;
}
#team .owl-carousel .owl-item .details.active {
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
  top: 10%;
}
#team .owl-carousel .owl-item .details.active div {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out 1s;
  -moz-transition: all 0.5s ease-in-out 1s;
  -ms-transition: all 0.5s ease-in-out 1s;
  -o-transition: all 0.5s ease-in-out 1s;
  transition: all 0.5s ease-in-out 1s;
  display: block\9;
}
#team .owl-carousel .owl-item .details span {
  margin-bottom: 30px;
  display: block;
  font-size: 30px;
  cursor: auto;
}
#team .owl-carousel .owl-item .details div {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #fff;
  cursor: auto;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
#team .owl-carousel .owl-item .social {
  position: absolute;
  bottom: 15px;
  width: 100%;
  left: 0;
  font-size: 0;
  text-align: center;
  z-index: 5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
#team .owl-carousel .owl-item .social a {
  border: 2px solid transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  display: inline-block;
  margin: 0 3px;
  width: 50px;
  height: 50px;
  position: relative;
}
#team .owl-carousel .owl-item .social a img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -17px;
  margin-top: -17px;
  width: 34px;
  display: block;
  height: 34px;
}
#team .owl-carousel .owl-item .social a:hover {
  border: 2px solid #00b4bb;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
  display: none;
}

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
  cursor: url("../images/grabbing.png") 8 8, move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.slider_navigation a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 40px;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  display: block;
  z-index: 50;
  cursor: pointer;
  background: url('../images/slider_left.png') no-repeat 50% 50%;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
}
.slider_navigation a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
#team .slider_navigation a {
  height: 97px;
  bottom: 100%;
  top: auto;
}
.slider_navigation a.prev {
  left: 50%;
}
#team .slider_navigation a.prev {
  margin-left: -555px;
}
#screenshots .slider_navigation a.prev {
  left: auto;
  right: 50%;
  margin-right: 162px;
  background-position: 50% 45%;
}
.slider_navigation a.next {
  right: 50%;
  background: url('../images/slider_right.png') no-repeat 50% 50%;
}
#team .slider_navigation a.next {
  margin-right: -555px;
}
#screenshots .slider_navigation a.next {
  right: auto;
  left: 50%;
  margin-left: 160px;
  background-position: 50% 45%;
}
#screenshots .slider_navigation a {
  width: 50px;
  height: 40px;
  bottom: 43% !important;
  top: auto !important;
  -webkit-transition: all 1s linear 2s;
  -moz-transition: all 1s linear 2s;
  -ms-transition: all 1s linear 2s;
  -o-transition: all 1s linear 2s;
  transition: all 1s linear 2s;
  z-index: 30;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: block\9;
}
#screenshots.active .slider_navigation a {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: block\9;
}

#screenshots .owl-item:first-child + div {
  z-index: 2;
  position: relative;
}
#screenshots .owl-item:first-child, #screenshots .owl-item:first-child + div + div {
  -webkit-transform: translate(370px, 0);
  -moz-transform: translate(370px, 0);
  -ms-transform: translate(370px, 0);
  -o-transform: translate(370px, 0);
  transform: translate(370px, 0);
  position: relative;
  z-index: 1;
}
#screenshots .owl-item:first-child + div + div {
  -webkit-transform: translate(-370px, 0);
  -moz-transform: translate(-370px, 0);
  -ms-transform: translate(-370px, 0);
  -o-transform: translate(-370px, 0);
  transform: translate(-370px, 0);
}
#screenshots.active .owl-item:first-child, #screenshots.active .owl-item:first-child + div + div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 1s ease-in-out 1s;
  -moz-transition: all 1s ease-in-out 1s;
  -ms-transition: all 1s ease-in-out 1s;
  -o-transition: all 1s ease-in-out 1s;
  transition: all 1s ease-in-out 1s;
}

/* --------------------------------------------------------------------------------------
+
+ Prettyphoto-lightbox
+
    http://www.no-margin-for-errors.com/projects/prettyphoto-jquery-lightbox-clone/#prettyPhoto
-------------------------------------------------------------------------------------- */
.feature_content {
  display: none;
  position: absolute !important;
  top: 0;
}

.text_wrapper {
  background-color: #fff;
  overflow: auto;
  padding: 0 40px 0 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.text_wrapper h3 {
  text-align: left;
}
.text_wrapper .text {
  width: 100%;
}
.text_wrapper .text *:last-of-type {
  margin-bottom: 0;
}

.pp_inline {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff;
}

div.pp_default .pp_nav {
  clear: none;
  height: 100%;
  width: 200px;
  position: relative;
}

div.pp_default .pp_nav .currentTextHolder {
  display: none;
}

div.pp_default .pp_close:hover, div.pp_default .pp_nav .pp_play:hover, div.pp_default .pp_nav .pp_pause:hover, div.pp_default .pp_arrow_next:hover, div.pp_default .pp_arrow_previous:hover {
  opacity: 1;
}

div.pp_pic_holder a:focus {
  outline: none;
}

div.pp_overlay {
  background: #000;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9500;
}

div.pp_pic_holder {
  display: none;
  position: absolute;
  width: 100px;
  z-index: 10000;
}

div.pp_pic_holder, .pp_content, .text_wrapper {
  max-height: 500px;
  width: 500px;
}

.pp_content {
  height: 500px;
}

.pp_content_container {
  position: relative;
  text-align: left;
  width: 100%;
}

.pp_description {
  display: none;
  margin: 0;
}

.pp_nav {
  float: left;
  margin: 0;
  position: relative;
}
.pp_nav > * {
  float: left;
}

.pp_nav p {
  white-space: nowrap;
}

.pp_nav .pp_play, .pp_nav .pp_pause {
  display: none;
}

a.pp_arrow_previous, a.pp_arrow_next {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  display: block;
  height: 66px;
  width: 24px;
  position: absolute;
  left: 20px;
  background: url('../images/prev.png') no-repeat 0 50%;
  opacity: 0.7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a.pp_arrow_next {
  left: 44px;
  background: url('../images/next.png') no-repeat 0 50%;
}

.pp_hoverContainer {
  display: none !important;
}

.pp_gallery {
  display: none !important;
}

a.pp_expand, a.pp_contract {
  display: none !important;
}

a.pp_close {
  width: 26px;
  height: 26px;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  display: block;
  position: absolute;
  right: 25px;
  top: 20px;
  background: url('../images/close_popup.png') no-repeat 0 50%;
}

div.ppt {
  display: none !important;
}

div.pp_default .pp_gallery ul li a:hover, div.pp_default .pp_gallery ul li.selected a, .pp_gallery ul a:hover, .pp_gallery li.selected a {
  border-color: #fff;
}

.pp_top, .pp_bottom {
  display: none;
}

* html .pp_top, * html .pp_bottom {
  padding: 0 20px;
}

.pp_top .pp_left, .pp_bottom .pp_left {
  height: 20px;
  left: 0;
  position: absolute;
  width: 20px;
}

.pp_top .pp_middle, .pp_bottom .pp_middle {
  height: 20px;
  left: 20px;
  position: absolute;
  right: 20px;
}

* html .pp_top .pp_middle, * html .pp_bottom .pp_middle {
  left: 0;
  position: static;
}

.pp_top .pp_right, .pp_bottom .pp_right {
  height: 20px;
  left: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.pp_fade, .pp_gallery li.default a img {
  display: none;
}

.pp_play {
  display: none;
}

.pp_social {
  display: none !important;
}

/* --------------------------------------------------------------------------------------
+
+ CONTENT
+
-------------------------------------------------------------------------------------- */
.content {
  display: none;
}
.content section {
  padding: 70px 0;
  position: relative;
  z-index: 1;
}
.content section .container > h2, .content section .container > span {
  text-align: center;
  display: block;
}
.content section .container > span:first-of-type {
  margin-bottom: 70px;
}

#phone, .phone_clone {
  z-index: 3;
  top: 102px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#phone a.start, .phone_clone a.start {
  position: absolute;
  left: 50%;
  z-index: 1;
}
#phone a.start span, #phone a.start b, .phone_clone a.start span, .phone_clone a.start b {
  background: url('../images/start_btn.png') no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
}
#phone a.start b, .phone_clone a.start b {
  background: url('../images/start_btn_hover.png') no-repeat 0 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  display: none\9;
  visibility: visible\9;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: blink;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0;
  -o-animation-duration: 1.5s;
  -o-animation-name: blink;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 1.5s;
  animation-name: blink;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}
#phone a.start:hover b, .phone_clone a.start:hover b {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  /* style for ie8 */
  display: block\9;
}
#phone a.start:hover span, .phone_clone a.start:hover span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
#phone a.start:hover span, #phone a.start:hover b, .phone_clone a.start:hover span, .phone_clone a.start:hover b {
  -webkit-animation-delay: none;
  -webkit-animation-duration: none;
  -webkit-animation-name: none;
  -webkit-animation-timing-function: none;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: none;
  -moz-animation-duration: none;
  -moz-animation-name: none;
  -moz-animation-timing-function: none;
  -moz-animation-iteration-count: infinite;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: none;
  -o-animation-duration: none;
  -o-animation-name: none;
  -o-animation-timing-function: none;
  -o-animation-iteration-count: infinite;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: none;
  animation-duration: none;
  animation-name: none;
  animation-timing-function: none;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}
#phone:before, .phone_clone:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 0;
  width: 100%;
  height: 100%;
}
body.active #phone:before, body.active .phone_clone:before {
  z-index: 100;
}
body.active #phone a.start span, body.active #phone a.start b, body.active .phone_clone a.start span, body.active .phone_clone a.start b {
  -webkit-animation-delay: none;
  -webkit-animation-duration: none;
  -webkit-animation-name: none;
  -webkit-animation-timing-function: none;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: none;
  -moz-animation-duration: none;
  -moz-animation-name: none;
  -moz-animation-timing-function: none;
  -moz-animation-iteration-count: infinite;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: none;
  -o-animation-duration: none;
  -o-animation-name: none;
  -o-animation-timing-function: none;
  -o-animation-iteration-count: infinite;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: none;
  animation-duration: none;
  animation-name: none;
  animation-timing-function: none;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

.phone, .phone_clone {
  width: 334px;
  left: 50%;
  margin-left: -167px;
  overflow: hidden;
  height: 645px;
  display: block;
  position: absolute;
}
.phone:hover .display span, .phone_clone:hover .display span {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: bounce;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 3s;
  -moz-animation-name: bounce;
  -moz-animation-timing-function: ease;
  -moz-animation-iteration-count: infinite;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0;
  -o-animation-duration: 3s;
  -o-animation-name: bounce;
  -o-animation-timing-function: ease;
  -o-animation-iteration-count: infinite;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 3s;
  animation-name: bounce;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  background: url('../images/click_arrow.png') no-repeat 50% 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.phone .phone_head, .phone_clone .phone_head {
  position: absolute;
  -webkit-transition: all 1s ease-in-out 1.5s;
  -moz-transition: all 1s ease-in-out 1.5s;
  -ms-transition: all 1s ease-in-out 1.5s;
  -o-transition: all 1s ease-in-out 1.5s;
  transition: all 1s ease-in-out 1.5s;
  z-index: 1;
  -webkit-transform: translate(0, -50px);
  -moz-transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
  -o-transform: translate(0, -50px);
  transform: translate(0, -50px);
  display: none\9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
}
body.active .phone .phone_head, body.active .phone_clone .phone_head {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
  display: block\9;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.phone .phone_body, .phone_clone .phone_body {
  background: url('../images/phone.png') no-repeat 0 0;
  width: 100%;
  display: block;
  z-index: 10;
}
.phone .display, .phone .clean_subhead, .phone_clone .display, .phone_clone .clean_subhead {
  width: 272px;
  height: 485px;
  margin-left: -138px;
  display: block;
  position: absolute;
  left: 50%;
  top: 103px;
  z-index: 1;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  background-color: transparent;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
}
body.active .phone .display, body.active .phone .clean_subhead, body.active .phone_clone .display, body.active .phone_clone .clean_subhead {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
body.active .phone .display span, body.active .phone .clean_subhead span, body.active .phone_clone .display span, body.active .phone_clone .clean_subhead span {
  display: none;
}
.phone .display span, .phone .clean_subhead span, .phone_clone .display span, .phone_clone .clean_subhead span {
  bottom: 15px;
  position: absolute;
  width: 100%;
  text-align: center;
  display: block;
  color: #fff;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
  padding-bottom: 25px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background: url('../images/click_arrow.png') no-repeat 50% 100%;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
.phone .clean_subhead, .phone_clone .clean_subhead {
  overflow: hidden;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
body.active .phone .clean_subhead.fadeIn, body.active .phone_clone .clean_subhead.fadeIn {
  -webkit-transition: all 0.4s ease-in-out 1s;
  -moz-transition: all 0.4s ease-in-out 1s;
  -ms-transition: all 0.4s ease-in-out 1s;
  -o-transition: all 0.4s ease-in-out 1s;
  transition: all 0.4s ease-in-out 1s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
}
body.active .phone .clean_subhead.fadeIn span, body.active .phone_clone .clean_subhead.fadeIn span {
  display: none;
}
body.active .phone .clean_subhead.fast_transition, body.active .phone_clone .clean_subhead.fast_transition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: block\9;
}
body.active .phone .clean_subhead.fast_transition span, body.active .phone_clone .clean_subhead.fast_transition span {
  display: none;
}
.phone .clean_subhead .img_wrap, .phone_clone .clean_subhead .img_wrap {
  position: absolute;
  left: 50%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: -205px;
  -ms-behavior: url(../js/backgroundsize.htc);
  z-index: 100\9;
}

#subheader {
  background-color: #f3f3f3;
  padding-bottom: 240px;
  position: relative;
  display: none;
}
#subheader .container {
  position: relative;
  z-index: 1;
}
#subheader .sub_inner {
  background: black url('../images/subhead_bgr.jpg') no-repeat 50% 0;
  height: 690px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url(../js/backgroundsize.htc);
  position: relative;
}
#subheader .sub_inner:before, #subheader .sub_inner:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  z-index: 0;
  background: url('../images/texture15.png') repeat 50% 50%;
}
#subheader .sub_inner:after {
  background: url('../images/transparent40.png') repeat 50% 50%;
}
#subheader .button_wrapp {
  position: absolute;
  left: 112px;
  top: 302px;
  display: block;
}
#subheader a.download {
  height: 66px;
  display: block;
  width: 197px;
  background: rgba(0, 0, 0, 0.6);
  background: url("../images/header_bgr.png") \9;
}
#subheader a.download:hover {
  background: rgba(0, 0, 0, 0.8);
  background: url("../images/header_bgr.png") \9;
}
#subheader a.download:hover .img_wrap img.a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
#subheader a.download:hover .img_wrap img.b {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
  display: block;
}
#subheader a.download.google {
  margin-top: 30px;
}
#subheader a.download.google strong {
  font-size: 20px;
}
#subheader a.download span, #subheader a.download strong {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
}
#subheader a.download strong {
  font-size: 24px;
  white-space: nowrap;
  font-weight: 500;
}
#subheader a.download:hover span, #subheader a.download:hover strong {
  color: #00b4bb;
}
#subheader .img_wrap {
  width: 81px;
  float: left;
  position: relative;
}
#subheader .img_wrap img {
  position: absolute;
  left: 0;
  top: 0;
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  display: block;
}
#subheader .img_wrap img.b {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
#subheader .table {
  display: table;
  height: 100%;
  width: 116px;
  float: right;
}
#subheader .table .cell {
  display: table-cell;
  vertical-align: middle;
}
#subheader .scroll_down {
  position: absolute;
  width: 180px;
  height: 50px;
  display: block;
  left: 50%;
  margin-left: -90px;
  bottom: 55px;
  background: url('../images/scroll_down.png') no-repeat 50% 100%;
  text-align: center;
  white-space: nowrap;
  color: #333;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: bounce;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 2s;
  -moz-animation-name: bounce;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: infinite;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0;
  -o-animation-duration: 2s;
  -o-animation-name: bounce;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: infinite;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 2s;
  animation-name: bounce;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}
#subheader .scroll_down:hover {
  -webkit-animation-delay: none;
  -webkit-animation-duration: none;
  -webkit-animation-name: none;
  -webkit-animation-timing-function: none;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: none;
  -moz-animation-duration: none;
  -moz-animation-name: none;
  -moz-animation-timing-function: none;
  -moz-animation-iteration-count: infinite;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: none;
  -o-animation-duration: none;
  -o-animation-name: none;
  -o-animation-timing-function: none;
  -o-animation-iteration-count: infinite;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: none;
  animation-duration: none;
  animation-name: none;
  animation-timing-function: none;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

#features {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  height: 765px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
#features.active h2, #features.active span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
  /* styles for ie8 */
  display: block\9;
}
#features.active .mask {
  margin-left: -50%;
}
#features.active .mask.m2 {
  margin-left: 0;
  margin-right: -50%;
}
#features.active .text_wrap .text:before {
  top: 100%;
}
#features h2, #features span {
  -webkit-transition: all 0.6s ease-in-out 1s;
  -moz-transition: all 0.6s ease-in-out 1s;
  -ms-transition: all 0.6s ease-in-out 1s;
  -o-transition: all 0.6s ease-in-out 1s;
  transition: all 0.6s ease-in-out 1s;
  width: 250px;
  margin: 0 auto 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
#features .container {
  height: 100%;
  position: relative;
}
#features .btn_center {
  position: absolute;
  left: 50%;
  display: block;
  z-index: 10;
}
#features .feature_wrap {
  position: absolute;
  left: 0;
  width: 100%;
  height: 580px;
  top: 113px;
  background: url('../images/four_lines.png') no-repeat 50% 64px;
  width: 100%;
  height: 100%;
  display: block;
}
#features .feature {
  width: 130px;
  height: 130px;
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 212px;
}
#features .feature .img_wrap {
  width: 130px;
  height: 130px;
  display: block;
  border: 2px solid #00b4bb;
  background-color: #00b4bb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  behavior: url("../PIE.htc");
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
#features .feature .img_wrap:hover {
  background-color: #fff;
}
#features .feature .img_wrap:hover .a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
#features .feature .img_wrap:hover .b {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
  display: block\9;
}
#features .feature .img_wrap img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block\9;
}
#features .feature .img_wrap .b {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
#features .feature.f2 {
  top: 351px;
}
#features .feature.f3 {
  left: auto;
  right: 212px;
}
#features .feature.f3 .text_wrap {
  text-align: left;
  right: auto;
  left: 100%;
  padding-right: 0;
  padding-left: 25px;
}
#features .feature.f4 {
  top: 351px;
  left: auto;
  right: 212px;
}
#features .feature.f4 .text_wrap {
  text-align: left;
  right: auto;
  left: 100%;
  padding-right: 0;
  padding-left: 25px;
}
#features .text_wrap {
  position: absolute;
  top: 0;
  width: 183px;
  right: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 25px;
  overflow: hidden;
}
#features .text_wrap * {
  text-align: left;
}
#features .text_wrap .text {
  position: relative;
}
#features .text_wrap .text:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  -webkit-transition: all 2s ease-in-out 2s;
  -moz-transition: all 2s ease-in-out 2s;
  -ms-transition: all 2s ease-in-out 2s;
  -o-transition: all 2s ease-in-out 2s;
  transition: all 2s ease-in-out 2s;
}
#features .text_wrap .text p {
  margin-bottom: 5px;
}
#features .text_wrap .text p:first-letter {
  text-transform: uppercase;
}
#features .text_wrap a {
  color: #00b4bb;
  display: block;
}
#features .text_wrap a:hover {
  color: #02898e;
}
#features .mask {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  background-color: #fff;
  z-index: 1;
  -webkit-transition: all 3s ease-in-out 1.2s;
  -moz-transition: all 3s ease-in-out 1.2s;
  -ms-transition: all 3s ease-in-out 1.2s;
  -o-transition: all 3s ease-in-out 1.2s;
  transition: all 3s ease-in-out 1.2s;
}
#features .mask.m2 {
  left: auto;
  right: 0;
}

#screenshots {
  padding: 70px 0 0;
  margin-bottom: -106px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f3f3f3 url('../images/texture15.png') repeat 50% 50%;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
}
#screenshots.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
}
#screenshots.active h2, #screenshots.active span {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#screenshots.active .phone_slider {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.9s ease-in-out 0.1s;
  -moz-transition: all 0.9s ease-in-out 0.1s;
  -ms-transition: all 0.9s ease-in-out 0.1s;
  -o-transition: all 0.9s ease-in-out 0.1s;
  transition: all 0.9s ease-in-out 0.1s;
}
#screenshots h2, #screenshots span {
  -webkit-transition: all 0.6s ease-in-out 0.7s;
  -moz-transition: all 0.6s ease-in-out 0.7s;
  -ms-transition: all 0.6s ease-in-out 0.7s;
  -o-transition: all 0.6s ease-in-out 0.7s;
  transition: all 0.6s ease-in-out 0.7s;
  -webkit-transform: translate(0, -500px);
  -moz-transform: translate(0, -500px);
  -ms-transform: translate(0, -500px);
  -o-transform: translate(0, -500px);
  transform: translate(0, -500px);
}
#screenshots .container {
  height: 100%;
  position: relative;
}
#screenshots .phone {
  position: relative;
}
#screenshots .phone .screenshot {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  position: absolute;
  top: 154px;
  left: 50%;
  margin-left: -138px;
  width: 272px;
  height: 433px;
  display: block;
}
#screenshots .phone .phone_head {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#team {
  width: 100%;
  display: block;
  padding: 0 0 15px 0;
  border-top: 1px solid #d7d7d7;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #000;
  position: relative;
  z-index: 5;
  overflow: hidden;
}
#team h2 {
  font-size: 40px;
  padding: 25px 0 32px;
  display: block;
  position: relative;
  z-index: 2;
  width: 1000px;
  margin: 0 auto;
}

#review {
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #d7d7d7;
}

#video_section {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#video_section .video_wrap {
  width: 90%;
  margin: 0 auto 20px;
  overflow: hidden;
}
#video_section .js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
}
#video_section .js-video.vimeo {
  padding-top: 0;
}
#video_section .js-video.widescreen {
  padding-bottom: 57.25%;
}
#video_section .js-video embed, #video_section .js-video iframe, #video_section .js-video object, #video_section .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

#support {
  overflow: hidden;
}
#support .phone_x2 {
  float: left;
  width: 40%;
  position: relative;
}
#support .phone_x2 > div {
  position: absolute;
  right: 0;
  top: 0;
}
#support .phone_x2 > div img {
  position: relative;
  z-index: 2;
}
#support .phone_x2 > div .main_img {
  position: absolute;
  z-index: 1;
}
#support .phone_x2 .p1 {
  width: 302px;
  height: 604px;
  display: block;
  z-index: 2;
}
#support .phone_x2 .p2 {
  z-index: 1;
  width: 286px;
  height: 582px;
  display: block;
  right: 185px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: all 1s ease-in-out 1s;
  -moz-transition: all 1s ease-in-out 1s;
  -ms-transition: all 1s ease-in-out 1s;
  -o-transition: all 1s ease-in-out 1s;
  transition: all 1s ease-in-out 1s;
}
#support .phone_x2 .p2.hidden {
  right: 50px;
  top: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
#support .support_form {
  padding: 0 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  float: right;
  text-align: center;
}
#support .support_form.active form * {
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#support .support_form form {
  width: 345px;
  display: block;
  margin: 30px auto;
}
#support .support_form form * {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  bottom: -150px;
  position: relative;
}
#support .support_form form input[type='text'] {
  -webkit-transition: all 0.5s ease-out 0.2s;
  -moz-transition: all 0.5s ease-out 0.2s;
  -ms-transition: all 0.5s ease-out 0.2s;
  -o-transition: all 0.5s ease-out 0.2s;
  transition: all 0.5s ease-out 0.2s;
}
#support .support_form form input[type='text']:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#support .support_form form input[type='email'] {
  -webkit-transition: all 0.5s ease-out 0.4s;
  -moz-transition: all 0.5s ease-out 0.4s;
  -ms-transition: all 0.5s ease-out 0.4s;
  -o-transition: all 0.5s ease-out 0.4s;
  transition: all 0.5s ease-out 0.4s;
}
#support .support_form form input[type='email']:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#support .support_form form input[type='tel'] {
  -webkit-transition: all 0.5s ease-out 0.6s;
  -moz-transition: all 0.5s ease-out 0.6s;
  -ms-transition: all 0.5s ease-out 0.6s;
  -o-transition: all 0.5s ease-out 0.6s;
  transition: all 0.5s ease-out 0.6s;
}
#support .support_form form input[type='tel']:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#support .support_form form textarea {
  -webkit-transition: all 0.5s ease-out 0.8s;
  -moz-transition: all 0.5s ease-out 0.8s;
  -ms-transition: all 0.5s ease-out 0.8s;
  -o-transition: all 0.5s ease-out 0.8s;
  transition: all 0.5s ease-out 0.8s;
}
#support .support_form form textarea:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#support .support_form form button {
  -webkit-transition: all 0.5s ease-out 1s;
  -moz-transition: all 0.5s ease-out 1s;
  -ms-transition: all 0.5s ease-out 1s;
  -o-transition: all 0.5s ease-out 1s;
  transition: all 0.5s ease-out 1s;
}
#support .support_form form button:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#pricing {
  background: url('../images/pricing_bgr.jpg') no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url(../js/backgroundsize.htc);
}
#pricing:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background: url('../images/texture15.png') repeat 50% 50%;
  z-index: 0;
}
#pricing * {
  position: relative;
  z-index: 1;
}
#pricing .container > span {
  color: #fff;
}
#pricing ul {
  font-size: 0;
}
#pricing ul li {
  font-size: 16px;
  width: 30%;
  display: inline-block;
  padding: 29px 56px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #00b4bb;
  border: 1px solid rgba(0, 180, 187, 0.5);
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: all 1s ease 0.4s;
  -moz-transition: all 1s ease 0.4s;
  -ms-transition: all 1s ease 0.4s;
  -o-transition: all 1s ease 0.4s;
  transition: all 1s ease 0.4s;
}
#pricing ul li + li {
  margin-left: 5%;
  -webkit-transition: all 1s ease 0.2s;
  -moz-transition: all 1s ease 0.2s;
  -ms-transition: all 1s ease 0.2s;
  -o-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}
#pricing ul li + li + li {
  -webkit-transition: all 1s ease 0.6s;
  -moz-transition: all 1s ease 0.6s;
  -ms-transition: all 1s ease 0.6s;
  -o-transition: all 1s ease 0.6s;
  transition: all 1s ease 0.6s;
}
#pricing ul li.active {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
#pricing ul li:hover {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform: translate(0, -15px);
  -moz-transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
  -o-transform: translate(0, -15px);
  transform: translate(0, -15px);
  background-color: rgba(0, 0, 0, 0.85);
}
#pricing ul li .btn {
  width: 100%;
  padding: 0;
  margin-top: 10px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  height: 62px;
  line-height: 60px;
  color: #fff;
}
#pricing ul li .btn:hover {
  color: #00b4bb;
}
#pricing ul li h3 {
  font-size: 24px;
  color: #fff;
}
#pricing ul li span {
  display: block;
  height: 71px;
  line-height: 71px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #00b4bb;
  border-bottom: 1px solid #00b4bb;
  text-align: center;
  font-size: 24px;
  color: #00b4bb;
  margin-bottom: 20px;
  white-space: nowrap;
}
#pricing ul li p {
  color: #fff;
  position: relative;
  font-size: 18px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#pricing ul li p.not_include {
  color: #7f8180;
}
#pricing ul li p.not_include:after {
  background: url('../images/minus.png') no-repeat 0 0;
}
#pricing ul li p:after {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -7px;
  background: url('../images/plus.png') no-repeat 0 0;
}

#wait {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
}
#wait > h2, #wait > span {
  position: relative;
  left: -700px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 1s ease 0.5s;
  -moz-transition: all 1s ease 0.5s;
  -ms-transition: all 1s ease 0.5s;
  -o-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
  display: block;
  width: 90%;
  text-align: center;
}
#wait > h2.active, #wait > span.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  left: 0;
}
#wait > h2 {
  margin-left: auto;
  margin-right: auto;
}
#wait > span {
  position: relative;
  left: 700px;
  margin: 0 auto 30px;
}
#wait .btn {
  margin: 0 auto;
  display: block;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
#wait .btn.active {
  -webkit-transition: all 1s ease 0.5s;
  -moz-transition: all 1s ease 0.5s;
  -ms-transition: all 1s ease 0.5s;
  -o-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
#wait .btn.active:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#work {
  background-color: #00b4bb;
}
#work h2 {
  color: #fff;
}
#work span {
  color: #004b4f;
}
#work ul {
  font-size: 0;
  text-align: center;
}
#work ul li {
  font-size: 16px;
  display: inline-block;
  margin: 0 33px;
  -webkit-transform: rotateY(380deg);
  transform: rotateY(380deg);
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}
#work ul li.active {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
#work ul li > div {
  display: table;
}
#work ul li > div a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 90px;
}
#work ul li > div a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

#get {
  text-align: center;
  background-color: #000;
  height: 100px;
  line-height: 100px;
  padding: 0;
}
#get h2 {
  display: inline-block;
  font-size: 30px;
  color: #fff;
  margin-bottom: 0;
  vertical-align: middle;
}
#get a {
  margin: 0 20px;
  width: 46px;
  height: 46px;
  display: block;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
#get a i, #get a b {
  width: 46px;
  height: 46px;
  display: block;
  background: url('../images/start_btn.png') no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
  display: block\9;
}
#get a b {
  background: url('../images/start_btn_hover.png') no-repeat 0 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: blink;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0;
  -o-animation-duration: 1.5s;
  -o-animation-name: blink;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 1.5s;
  animation-name: blink;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
#get a:hover b {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  display: block\9;
}
#get a:hover i {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  /* styles for ie8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) \9;
  opacity: 1\9;
  visibility: visible\9;
  display: none\9;
}
#get a:hover i, #get a:hover b {
  -webkit-animation-delay: none;
  -webkit-animation-duration: none;
  -webkit-animation-name: none;
  -webkit-animation-timing-function: none;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: none;
  -moz-animation-duration: none;
  -moz-animation-name: none;
  -moz-animation-timing-function: none;
  -moz-animation-iteration-count: infinite;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: none;
  -o-animation-duration: none;
  -o-animation-name: none;
  -o-animation-timing-function: none;
  -o-animation-iteration-count: infinite;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: none;
  animation-duration: none;
  animation-name: none;
  animation-timing-function: none;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

#notified {
  padding: 0;
}
#notified form {
  height: 140px;
  line-height: 140px;
  width: 100%;
  text-align: center;
  font-size: 0;
}
#notified form * {
  font-size: 16px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
#notified form .btn {
  font-size: 24px;
}
#notified form h2 {
  font-size: 23px;
  color: #6d6e71;
}
#notified input[type='email'] {
  width: 315px;
  margin: 0 10px 0 25px;
  font-size: 15px;
}

/* --------------------------------------------------------------------------------------
+
+ Media queries
+
-------------------------------------------------------------------------------------- */
@media (min-width: 768px) {
  header nav ul {
    width: auto !important;
  }

  .phone_clone {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1169px) {
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
  }

  body {
    min-width: 100%;
  }

  .container {
    width: 100%;
  }

  header nav ul li + li {
    margin-left: 45px;
  }

  #subheader .button_wrapp {
    left: 30px;
  }
  #subheader a.download {
    width: 167px;
  }
  #subheader a.download span, #subheader a.download strong {
    font-size: 12px;
  }
  #subheader a.download strong {
    font-size: 20px;
  }
  #subheader .img_wrap img {
    margin-left: -7px;
  }
  #subheader .table {
    width: 100px;
  }

  #features .feature {
    left: 4%;
  }
  #features .feature.f3, #features .feature.f4 {
    right: 4%;
  }
  #features .feature.f3 .text_wrap, #features .feature.f4 .text_wrap {
    left: 0;
    padding: 0;
  }
  #features .text_wrap {
    right: auto;
    left: 0;
    padding: 0;
    top: 100%;
    margin-top: 20px;
    width: 130px;
  }
  #features .text_wrap h3 {
    text-align: center;
  }
  #features .text_wrap .text {
    display: none;
  }

  #screenshots .phones {
    display: none;
  }
  #screenshots .slider_navigation a.prev {
    margin-right: 200px;
  }
  #screenshots .slider_navigation a.next {
    margin-left: 200px;
  }

  #team .slider_navigation a.next {
    right: 30px;
    margin-right: 0;
  }

  #team .slider_navigation a.prev {
    left: 30px;
    margin-left: 0;
  }

  #support .phone_x2 {
    display: none;
  }
  #support .support_form {
    width: 500px;
    float: none;
    margin: 0 auto;
    padding: 0;
  }

  #pricing ul li {
    padding: 29px 20px;
  }
}
@media (min-width: 960px) and (max-width: 1169px) {
  #subheader .button_wrapp {
    left: 50%;
    margin-left: -40%;
  }

  #features .feature {
    left: 10%;
  }
  #features .feature.f3, #features .feature.f4 {
    right: 10%;
  }

  #team .slider_navigation a.next {
    right: 10%;
    margin-right: 0;
  }

  #team .slider_navigation a.prev {
    left: 10%;
    margin-left: 0;
  }
}
@media (max-width: 1169px) {
  body {
    min-width: 100%;
  }

  .container {
    width: 100%;
  }

  #screenshots .owl-item:first-child, #screenshots .owl-item:first-child + div + div {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 1s ease-in-out 1s;
    -moz-transition: all 1s ease-in-out 1s;
    -ms-transition: all 1s ease-in-out 1s;
    -o-transition: all 1s ease-in-out 1s;
    transition: all 1s ease-in-out 1s;
  }

  #get {
    height: auto;
    line-height: auto;
    line-height: 1.5;
  }
  #get h2 {
    width: 90%;
    display: block;
    padding-top: 40px;
    margin: 0 auto 30px;
  }
  #get a {
    margin: 0 20px 40px;
  }

  #notified form {
    height: auto;
    line-height: auto;
    line-height: 1.5;
  }
  #notified form h2 {
    display: block;
    padding-top: 40px;
    margin: 0 auto 30px;
  }
  #notified form input[type='email'], #notified form .btn {
    vertical-align: top;
    margin: 0 20px 40px 0;
  }

  #team .slider_navigation a.next {
    right: 10%;
    margin-right: 0;
  }

  #team .slider_navigation a.prev {
    left: 10%;
    margin-left: 0;
  }

  #team h2 {
    width: 70%;
  }

  #support form .btn {
    float: none;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 35px;
  }

  #to_the_top {
    display: none !important;
  }

  body * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  header nav {
    width: 87px;
    height: 76px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: url('../images/menu_drop.png') no-repeat 50% 50%;
  }
  header nav span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    cursor: pointer;
  }
  header nav ul {
    position: absolute;
    top: 100%;
    right: 0;
    height: auto;
    float: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
    display: block;
  }
  .ie8 header nav ul {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    display: none;
  }
  header nav ul.active {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
  }
  .ie8 header nav ul.active {
    display: block;
  }
  header nav ul li {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #00b4bb;
    border-top: 1px solid rgba(0, 120, 125, 0.75);
  }
  header nav ul li + li {
    margin-left: 0;
  }
  header nav ul a {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: block;
  }
  .ie8 header nav ul a {
    background: url("../images/header_bgr.png");
  }

  #subheader .button_wrapp {
    position: relative;
    left: auto;
    top: 105px;
    margin: 0 auto;
  }
  #subheader .button_wrapp a {
    margin-left: auto;
    margin-right: auto;
  }
  #subheader .button_wrapp a img {
    width: 65px;
  }
  #subheader .button_wrapp a.download {
    width: 171px;
    height: 53px;
  }
  #subheader .button_wrapp a.download.apple span {
    font-size: 12px;
  }
  #subheader .button_wrapp a.download.apple strong {
    font-size: 20px;
  }
  #subheader .button_wrapp a.download.google {
    margin-top: 26px;
  }
  #subheader .button_wrapp a.download.google span {
    font-size: 13px;
  }
  #subheader .button_wrapp .table {
    width: 106px;
  }

  #phone {
    display: none;
  }

  .phone_clone {
    top: 223px !important;
  }
  .phone_clone.no_anim {
    top: 223px !important;
    visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  .ie8 .phone_clone.no_anim {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    display: none;
  }
  .phone_clone a.start {
    height: 50px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .phone_clone a.start span, .phone_clone a.start b {
    width: 100%;
    height: 100%;
    display: block;
    background-size: 100%;
  }

  .phone, .phone_clone {
    width: 264px;
    height: 555px;
    margin-left: -132px;
  }
  .phone .phone_body, .phone_clone .phone_body {
    background-size: 100%;
    z-index: 1;
  }
  .phone .display, .phone .clean_subhead, .phone_clone .display, .phone_clone .clean_subhead {
    width: 222px;
    height: 394px;
    top: 85px;
    margin-left: -111px;
  }
  body.active .phone .display, body.active .phone .clean_subhead, body.active .phone_clone .display, body.active .phone_clone .clean_subhead {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  .phone .clean_subhead .img_wrap, .phone_clone .clean_subhead .img_wrap {
    top: -308px;
  }
  .phone .phone_head, .phone_clone .phone_head {
    width: 216px;
    top: 79px;
    left: 23px;
  }
  .phone .phone_head img, .phone_clone .phone_head img {
    width: 100%;
  }

  .phone_clone {
    z-index: 2;
  }

  #features {
    height: auto;
  }
  #features .btn_center {
    display: none;
  }
  #features .feature_wrap {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    background: none;
  }
  #features .mask {
    display: none;
  }
  #features h2, #features span, #features .feature {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
  }
  #features h2, #features span {
    width: 100%;
  }
  #features .feature {
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
  }
  #features .feature.f1, #features .feature.f2, #features .feature.f3, #features .feature.f4 {
    margin-top: 70px;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    position: relative;
    padding-left: 0;
  }
  #features .feature.f1 .img_wrap, #features .feature.f2 .img_wrap, #features .feature.f3 .img_wrap, #features .feature.f4 .img_wrap {
    margin: 0 auto;
    display: block;
  }
  #features .feature.f1 .text_wrap, #features .feature.f2 .text_wrap, #features .feature.f3 .text_wrap, #features .feature.f4 .text_wrap {
    width: 100%;
    margin: 30px auto 0;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    left: auto;
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
  }
  #features .feature.f1 .text_wrap *, #features .feature.f2 .text_wrap *, #features .feature.f3 .text_wrap *, #features .feature.f4 .text_wrap * {
    text-align: center;
  }
  #features .feature.f1 .text_wrap .text:before, #features .feature.f2 .text_wrap .text:before, #features .feature.f3 .text_wrap .text:before, #features .feature.f4 .text_wrap .text:before {
    display: none;
  }

  #colorbox .f1, #colorbox .f2, #colorbox .f3, #colorbox .f4 {
    width: 300px;
    max-height: 350px;
  }

  #screenshots {
    margin-bottom: -90px;
  }
  #screenshots .phone .screenshot {
    width: 216px;
    top: 121px;
    margin-left: -109px;
  }
  #screenshots .phone .screenshot img {
    width: 100%;
  }
  #screenshots .slider_navigation a.prev,
  #screenshots .slider_navigation a.next {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
  }
  #screenshots h2, #screenshots span {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  #screenshots .phone_slider {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
  }

  #team .owl-carousel .owl-item:hover img {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  #team h2 {
    font-size: 30px;
  }

  #team .slider_navigation a.next {
    height: 87px;
    right: 30px;
  }

  #team .slider_navigation a.prev {
    height: 87px;
    left: 30px;
  }

  #support .phone_x2 {
    display: none;
  }
  #support .support_form {
    width: 100%;
    float: none;
    margin: 0 auto;
    padding: 0;
  }
  #support .support_form form * {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  #pricing ul li {
    width: 100%;
    margin: 0 auto;
    display: block;
    max-width: 400px;
    margin-top: 50px;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  #pricing ul li:first-child {
    margin-top: 0;
  }
  #pricing ul li + li {
    margin-left: auto;
  }
  #pricing ul li:hover {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  #wait > h2, #wait > span {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    left: 0;
  }
  #wait > span {
    margin: 0 auto 25px;
  }
  #wait .btn {
    margin: 0 auto;
    display: block;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  #work ul li {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
}
@media (max-width: 700px) {
  #team h2 {
    width: 90%;
  }
  #team .slider_navigation a.next, #team .slider_navigation a.prev {
    height: 100%;
    bottom: 0 !important;
    background-position: 50% 50%;
    width: 60px;
  }
  #team .slider_navigation a.next:hover, #team .slider_navigation a.prev:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  #team .slider_navigation a.next {
    right: 0;
  }
  #team .slider_navigation a.prev {
    left: 0;
  }

  div.pp_pic_holder, .pp_content, .text_wrapper {
    max-height: 450px;
    width: 450px !important;
  }

  .pp_content {
    height: 450px;
  }
}
@media (max-width: 600px) {
  #notified form input[type='email'] {
    display: block;
    margin: 0 auto 20px;
  }
  #notified form .btn {
    margin: 0 auto 40px;
  }

  #video_section .video_wrap {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  footer {
    height: auto;
  }
  footer .container {
    overflow: hidden;
    text-align: center;
  }
  footer .social, footer small {
    float: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  footer small {
    height: 60px;
    line-height: 60px;
    display: inline-block;
    padding-left: 20px;
  }
  footer .social {
    display: block;
    padding-bottom: 20px;
  }

  #screenshots .slider_navigation a.prev {
    left: 0;
    margin-right: 0;
  }
  #screenshots .slider_navigation a.next {
    right: 0;
    left: auto;
    margin-left: 0;
  }

  div.pp_pic_holder, .pp_content, .text_wrapper {
    max-height: 360px;
    width: 360px !important;
  }

  .pp_content {
    height: 360px;
  }
}
@media (max-width: 400px) {
  h2 {
    font-size: 30px;
  }

  #pricing ul li {
    padding: 29px 20px;
  }

  #team .slider_navigation a.next {
    margin-right: 0;
  }

  #team .slider_navigation a.prev {
    margin-left: 0;
  }

  #support .support_form form {
    width: 100%;
  }

  #notified input[type='email'] {
    width: 90%;
    margin: 0 auto 40px;
  }

  #screenshots .slider_navigation a.prev, #screenshots .slider_navigation a.next {
    width: 30px;
  }

  div.pp_pic_holder, .pp_content, .text_wrapper {
    max-height: 300px;
    width: 300px !important;
  }

  .pp_content {
    height: 300px;
  }
}
/* --------------------------------------------------------------------------------------
+
+ PHONE CHANGE STYLES
+
-------------------------------------------------------------------------------------- */
.phone, .phone_clone {
  height: 653px;
}
.phone .phone_head, .phone_clone .phone_head {
  left: 29px;
  top: 99px;
}
.phone .phone_body, .phone_clone .phone_body {
  height: 609px;
  position: absolute;
  bottom: -5px;
}
.phone a.start, .phone_clone a.start {
  width: 46px;
  height: 46px;
  display: block;
  margin-left: -24px;
  bottom: 17px;
}
.phone a.start span, .phone a.start b, .phone_clone a.start span, .phone_clone a.start b {
  width: 72px;
  height: 72px;
  display: block;
}
.active .phone a.start, .active .phone_clone a.start {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.phone.skrollable-after a.start, .phone_clone.skrollable-after a.start {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: all 0.3s ease 1s;
  -moz-transition: all 0.3s ease 1s;
  -ms-transition: all 0.3s ease 1s;
  -o-transition: all 0.3s ease 1s;
  transition: all 0.3s ease 1s;
}
.phone.skrollable-after a.start span, .phone_clone.skrollable-after a.start span {
  display: none;
}
.phone.skrollable-after a.start b, .phone_clone.skrollable-after a.start b {
  visibility: visible !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) !important;
  opacity: 1 !important;
  background-image: url("../images/start_btn_hover2.png") !important;
  background-repeat: no-repeat;
  background-position: 0 0;
}

#screenshots .phone .phone_body, #screenshots .phone_clone .phone_body {
  bottom: 33px;
}
#screenshots .phone .phone_head, #screenshots .phone_clone .phone_head {
  top: 61px;
}
#screenshots .phone .screenshot, #screenshots .phone_clone .screenshot {
  top: 114px;
}

#features .btn_center {
  display: none;
}

#team .owl-carousel .owl-item .view {
  width: 46px;
  height: 46px;
  display: block;
  margin-top: -23px;
  margin-left: -23px;
}
#team .owl-carousel .owl-item .view img {
  margin-top: -23px;
  margin-left: -23px;
}

#support .phone_x2 .p1 {
  right: 40px;
}
#support .phone_x2 .p1 img.bgr_img {
  left: 38px;
}
#support .phone_x2 .p1 img.main_img {
  top: 35px;
  left: 80px;
}
#support .phone_x2 .p2 {
  right: 220px;
}
#support .phone_x2 .p2 img.bgr_img {
  left: 45px;
}
#support .phone_x2 .p2 img.main_img {
  top: 32px;
  left: 84px;
}

@media (max-width: 767px) {
  .phone_clone a.start {
    bottom: -20px;
    width: 57px;
    margin-left: -28px;
  }
  .phone_clone a.start span, .phone_clone a.start b {
    width: 100%;
  }

  .phone_clone .phone_body {
    height: 471px;
    bottom: 141px;
  }

  .phone_clone .phone_head {
    left: 23px;
    top: 81px;
  }

  .phone {
    height: 516px;
  }
  .phone .phone_body {
    height: 473px;
  }
  .phone .phone_head {
    left: 23px;
    top: 42px;
  }

  #screenshots .phone .screenshot {
    top: 84px;
  }
  #screenshots .phone .phone_head {
    top: 42px;
  }
}
