.addForm{
	display: inline-block;
	vertical-align: top;
}
.tortoise{
	background-color: #1abc9c;
}
.emerald{
	background-color: #2ecc71;
}
.nephritis{
	background-color: #27ae60;
}
.alizarin{
	background-color: #e74c3c;
}
.amethyst{
	background-color: #9b59b6;
}
.error, .ok {
	color: white;
	font-size: 20px;
	padding: 20px;
}
.error {
	background-color: #e74c3c;
}
.ok {
	background-color: green;
}