.turquoise{
	background-color: #1abc9c;
}
.emerald{
	background-color: #2ecc71;
}
.peter-river{
	background-color: #3498db;
}
.amethyst{
	background-color: #9b59b6;
}
.wet-asphalt{
	background-color: #34495e;
}
.green-sea{
	background-color: #16a085;
}
.nephritis{
	background-color: #27ae60;
}
.belize-hole{
	background-color: #2980b9;
}
.wisteria{
	background-color: #8e44ad;
}
.midnight-blue{
	background-color: #2c3e50;
}
.sun-flower{
	background-color: #f1c40f;
}
.carrot{
	background-color: #e67e22;
}
.alizarin{
	background-color: #e74c3c;
}
.clouds{
	background-color: #ecf0f1;
}
.concrete{
	background-color: #95a5a6;
}
.orange{
	background-color: #f39c12;
}
.pumpkin{
	background-color: #d35400;
}
.pomegranate{
	background-color: #c0392b;
}
.silver{
	background-color: #bdc3c7;
}
.asbestos{
	background-color: #7f8c8d;
}